<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @district.nombre %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @district.zone.nombre %>
</p>

<%= link_to 'Edit', edit_district_path(@district) %> |
<%= link_to 'Back', districts_path %>
