<%= simple_form_for(@room) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre %>
    <%= f.input :capacidad %>
    <%= f.input :direccion %>
    <%= f.input :contacto_sala %>
    <%= f.input :correo_contacto %>
    <%= f.association :district, label_method: :nombre %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
