<p id="notice"><%= notice %></p>

<h1>Salas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Capacidad</th>
      <th>Direccion</th>
      <th>Contacto sala</th>
      <th>Correo contacto</th>
      <th>Distrito</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.nombre %></td>
        <td><%= room.capacidad %></td>
        <td><%= room.direccion %></td>
        <td><%= room.contacto_sala %></td>
        <td><%= room.correo_contacto %></td>
        <td><%= room.district.nombre %></td>
        <td><%= link_to 'Show', room %></td>
        <td><%= link_to 'Edit', edit_room_path(room) %></td>
        <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Room', new_room_path %>
