<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @room.nombre %>
</p>

<p>
  <strong>Capacidad:</strong>
  <%= @room.capacidad %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @room.direccion %>
</p>

<p>
  <strong>Contacto sala:</strong>
  <%= @room.contacto_sala %>
</p>

<p>
  <strong>Correo contacto:</strong>
  <%= @room.correo_contacto %>
</p>

<p>
  <strong>District:</strong>
  <%= @room.district %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
